html{
    scroll-behavior: smooth;
}
body{
    font-family: "Times New Roman", sans-serif;
    background-color:white;
    margin: 0;
}
h1{
    text-align: center;
    text-shadow: 0 0 5px black;
}
h4{
    text-align: center;
}
h2{
    background: linear-gradient(to right, black,gainsboro,black);
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px black;
}
p{
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
}
img , iframe{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    border: 2px solid white;
}